.home-container {
  @apply h-screen overflow-hidden
  justify-center items-center
  flex flex-col lg:flex-row gap-0
  lg:gap-20 lg:pt-0;

  .right {
    @apply animate-[text-reveal-down_2s_ease-out_forwards_1s] opacity-0
    absolute lg:relative
    xl:-left-72
    lg:-left-52;
    img {
      @apply
      max-w-none max-h-none
      w-[75vw] h-[75vw]
      lg:w-[40vw] lg:h-[40vw]
    }
  }

  .left {
    @apply p-6 z-10;
    h1 {
      @apply
      text-8xl font-bold
      text-center
      lg:text-right
      animate-[text-reveal-up_2s_ease-in-out_forwards] opacity-0;
    }

    .intro {
      @apply
      text-2xl
      text-center
      lg:text-right lg:ml-10
      animate-[text-reveal-down_2s_ease-in-out_forwards_.2s] opacity-0;
    }

  }
}
