<aside class="fixed top-0 left-0 z-40 w-96 h-screen">
  <div class="h-full px-10 py-4 overflow-y-auto bg-stone-700">

    <div class="pt-6">
      <img src="assets/img/profile.jpg" alt=""
           class="w-64 border-4 border-stone-900">
    </div>

    <h1 class="text-3xl text-white pt-9">Antoine Thiry</h1>
    <h2 class="text-xl text-stone-400">Web Developer / Unity Developer</h2>

    <table class="table table-auto w-full text-stone-400 mt-2">
      <tbody>
      <tr>
        <td>Phone</td>
        <td>+32 456 56 41 68</td>
      </tr>
      <tr>
        <td>Email</td>
        <td><a class="text-slate-400 hover:text-slate-500" href="mailto:thiryantoine@gmail.com">thiryantoine&#64;gmail.com</a>
        </td>
      </tr>
      <tr>
        <td>Website</td>
        <td><a class="text-slate-400 hover:text-slate-500" href="https://antoinethiry.tech">antoinethiry.tech</a></td>
      </tr>
      <tr>
        <td>Address</td>
        <td>Brussels (Belgium)</td>
      </tr>
      </tbody>
    </table>

    <hr class="h-px my-4 bg-stone-800 border-0">

    <h1 class="text-2xl text-white">About Me</h1>
    <p class="mt-2 text-stone-400">With 7 years of experience as a web and Unity developer, I have developed innovative
      video games and web applications, particularly in the education sector, such as VR training apps and online
      quizzes. I have a strong interest in music and IT and a continuous drive to learn and share knowledge. As a
      reliable team
      player, I contribute effectively to project completion. I am versatile with tech stacks, handling front-end,
      back-end, and dev ops tasks, and thrive in roles that allow me to diversify my responsibilities</p>


    <hr class="h-px my-4 bg-stone-800 border-0">

    <h1 class="text-2xl text-white">Skills</h1>
    <table class="table table-auto w-full text-stone-400 mt-2">
      <tbody>
      <tr>
        <td>C# / .NET</td>
        <td class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

        </td>
      </tr>
      <tr>
        <td>Unity</td>
        <td class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>HTML, CSS</td>
        <td class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>

        </td>
      </tr>
      <tr>
        <td>Angular</td>
        <td class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>Java</td>
        <td class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>SQL</td>
        <td class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>GoLang / Python</td>
        <td class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
        </td>
      </tr>
      <tr>
        <td>Docker / Kubernetes</td>
        <td class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                  clip-rule="evenodd"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z"/>
          </svg>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</aside>

<div class="p-4 sm:ml-96 2xl:w-2/4 text-stone-400">
  <div class="p-4">
    <h1 class="text-stone-300 text-3xl">Experience</h1>
    <hr class="w-20 h-0.5 my-3 border-0 rounded bg-stone-500">

    <div>
      <h2 class="text-2xl text-slate-400 font-light">Software/Web Developer - Unity Developer</h2>
      <p class="text-stone-500">straightlabs GmbH & Co. KG<span
        class="text-sm text-stone-500"> - Munich (Germany)</span>
      </p>
      <p class="text-stone-500 text-xs">Jul 2018 - Dec 2022</p>
      <div [@toggleHeight]="showSl ? 'expanded' : 'collapsed'" class="overflow-hidden">
        <table class="table-auto w-full mt-3 border-spacing-y-4 border-separate">
          <tbody>
          <tr>
            <td class="text-left align-top w-40 text-stone-300 font-medium">VR Speech Trainer</td>
            <td>
              Led the development of a VR Speech Trainer, overseeing both the Unity app and Angular web platform.
              Features
              included real-time speech recognition, posture analysis, and interactive audience feedback.
            </td>
          </tr>
          <tr>
            <td class="text-left align-top w-40 text-stone-300 font-medium">xR Trainer</td>
            <td>
              Contributed to the development of an XR Trainer, utilizing Unity to create lifelike avatars and practical
              dialogues for soft skills training in a VR environment.
            </td>
          </tr>
          <tr>
            <td class="text-left align-top w-40 text-stone-300 font-medium">Business Gaming</td>
            <td>
              Played a role as a web developer in the Business Gaming Angular app, utilizing Java, Redis, and SQL for
              the server-side and Angular for the client-side. Also involved in developing a fully tailored CMS app for
              content management needs.
            </td>
          </tr>
          </tbody>
        </table>

        <p>During my position at straightlabs, I concurrently mentored at the xR Creators Lab annually. This involved
          leading Unity workshops for individuals in the creative industry, facilitating rapid prototyping of VR apps
          throughout a week-long program. Additionally, I collaborated on two significant artistic projects with
          Luxembourg
          artists Karolina and Pascal, namely "Fever" showcased at the VR Arles Festival and the Louvres in 2019, and
          "Sublimation" exhibited at la Biennale di Venezia in the same year.</p>

        <div class="mt-3 cursor-pointer text-slate-400 hover:text-slate-500" (click)="showSl = !showSl">Show less...
        </div>
      </div>
      <div [@toggleHeight]="!showSl ? 'expanded' : 'collapsed'">
        <p class="mt-3">At straightlabs, I led and contributed to various VR and web development projects, including VR
          Speech
          Trainer, XR Trainer, and Business Gaming Angular app. I also mentored at the xR Creators Lab and
          collaborated on notable artistic projects showcased at international festivals.</p>
        <p (click)="showSl = !showSl" class="mt-3 cursor-pointer text-slate-400 hover:text-slate-500">Learn more...</p>
      </div>
    </div>

    <div>
      <h2 class="text-2xl text-slate-400 pt-5 font-light">Web Developer - Unity Developer</h2>
      <p class="text-stone-500">303% Studio<span
        class="text-sm text-stone-500"> - Brussels (Belgium)</span>
      </p>
      <p class="text-stone-500 text-xs">Aug 2016 - Jun 2018</p>

      <div [@toggleHeight]="!show303 ? 'expanded' : 'collapsed'">
        <p class="mt-3">At 303% Studio, I developed the ASP.NET web app Casterstats for clients such as CIM and RTBF Auvio. I also
          mentored students at the Microsoft Innovation Center, leading Unity workshops and assisting with various
          project tasks</p>
        <p class="mt-3 cursor-pointer text-slate-400 hover:text-slate-500"
           (click)="show303 = !show303">Learn more...</p>
      </div>
      <div [@toggleHeight]="show303 ? 'expanded' : 'collapsed'">
        <p class="mt-3">At 303% Studio, I primarily developed the web app Casterstats, using ASP.NET. It was notably
          utilized by
          clients like the CIM (Centre d'information sur les médias) and RTBF Auvio for extracting and analyzing
          geographic-based audience data from online broadcast logs. Alongside this, I mentored students at the
          Microsoft
          Innovation Center, offering Unity workshops and aiding with project management, coding, and internship
          supervision during final year juries.</p>
        <div class="mt-3 cursor-pointer text-slate-400 hover:text-slate-500" (click)="show303 = !show303">Show less...
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-2xl text-slate-400 pt-5 font-light">Intern - Web developer</h2>
      <p class="text-stone-500">Microsoft Innovation Center<span
        class="text-sm text-stone-500"> - Brussels (Belgium)</span>
      </p>
      <p class="text-stone-500 text-xs">Feb 2016 - May 2016</p>
      <div [@toggleHeight]="!showMic ? 'expanded' : 'collapsed'">
        <p class="mt-3">Developed an ASP.NET web application for Zebra Academy to manage clinical trials, data entry, patient encoding, and reporting, with integration for exporting data to OpenClinica.</p>
        <p class="mt-3 cursor-pointer text-slate-400 hover:text-slate-500"
           (click)="showMic = !showMic">Learn more...</p>
      </div>
      <div [@toggleHeight]="showMic ? 'expanded' : 'collapsed'">
        <p class="mt-3">Developed a web application in ASP.NET for Zebra Academy. This application facilitated clinical
          trials by managing data entry, patient encoding, and reporting. Additionally, it streamlined the process by
          exporting data to OpenClinica, an open-source software designed for managing clinical trials.</p>
        <div class="mt-3 cursor-pointer text-slate-400 hover:text-slate-500" (click)="showMic = !showMic">Show less...
        </div>
      </div>
    </div>

    <h1 class="text-stone-300 text-3xl pt-8">Education</h1>
    <hr class="w-20 h-0.5 my-3 border-0 rounded bg-stone-500">

    <div class="py-5">
      <h2 class="text-2xl text-slate-400 font-light">Certification 70-483 - Programming in C#</h2>
      <p class="text-stone-500">Microsoft<span
        class="text-sm text-stone-500"> - Brussels (Belgium)</span>
      </p>
      <p class="text-stone-400 font-medium">Issued in May 2016</p>

      <h2 class="text-2xl text-slate-400 pt-5 font-light">Haute Ecole de Bruxelles</h2>
      <p class="text-stone-500">Bachelor's Degree in Industrial Informatic<span
        class="text-sm text-stone-500"> - Brussels (Belgium)</span>
      </p>
      <p class="text-stone-400 font-medium">2013 - 2016</p>
    </div>


    <h1 class="text-stone-300 text-3xl pt-8">Interests</h1>
    <hr class="w-20 h-0.5 my-3 border-0 rounded bg-stone-500">
    I enjoy playing guitar and creating music, as well as listening to a wide variety of genres. Working with wood
    is another passion of mine, whether it's building guitars or crafting small objects. I'm also an avid gamer and
    tech enthusiast. In my free time, I like going out to music concerts and shows, exploring different genres and
    experiences. Overall, I'm open-minded and enjoy immersing myself in diverse interests and activities.


    <h1 class="text-stone-300 text-3xl pt-8">References</h1>
    <hr class="w-20 h-0.5 my-3 border-0 rounded bg-stone-500">

    <ul>
      <li><span class="font-medium">straightlabs GmbH & Co KG</span> ¦ <a class="text-slate-500 hover:text-slate-400"
                                                                          href="https://straightlabs.com">straightlabs.com</a><br>+49
        89 6425 6831 ¦ <a href="mailto:info@straighlabs.com" class="text-slate-500 hover:text-slate-400">info&#64;straighlabs.com</a>
      </li>
      <li class="pt-4"><span class="font-medium">303% Studio</span> ¦ Pierre Mengal <br>+32 496 23 26 26 ¦ <a
        href="mailto:pmengal@gmail.com" class="text-slate-500 hover:text-slate-400">pmengal&#64;gmail.com</a></li>
    </ul>


  </div>
</div>

<router-outlet/>
